In [1]:
import pandas as pd
import os

url = 'results'
m1 = ['/dp', '/notdp']
m2 = ['/member', '/notmember']

for u in m1:
    for k in m2:
        add = url + u + k
[]
[float(x) for x in pd.read_pickle('results/dp/member/target0.pkl')]

[1.7083183526992798,
 0.014834336005151272,
 7.396909236907959,
 7.727442264556885,
 7.197617530822754,
 6.3983354568481445,
 5.643667697906494,
 4.409168243408203,
 2.9322569370269775,
 1.3892192840576172,
 0.34692323207855225,
 0.07483236491680145,
 0.015557356178760529,
 0.0034141603391617537,
 0.0007787294453009963,
 0.00018904806347563863,
 4.8636207793606445e-05,
 1.2993727978027891e-05,
 3.6954811548639555e-06,
 1.0728830375228426e-06,
 3.576278118089249e-07,
 1.1920928244535389e-07,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0]

In [2]:
df = {'dp/member': [], 'dp/notmember': [], 'nodp/member':[], 'nodp/notmember':[]}

type(df)

dict

In [3]:
for path, subdirs, files in os.walk('results'):
    for name in files:
        df[path[len('results/'):]].append([float(x) for x in pd.read_pickle(os.path.join(path, name))])

In [4]:
from sklearn import svm

In [5]:
pandas_df = pd.DataFrame(df['nodp/notmember'])
pandas_df['label'] = 1
normal_df = pandas_df.copy()

pandas_df = pd.DataFrame(df['nodp/member'])
pandas_df['label'] = 0
normal_df = normal_df.append(pandas_df)

pandas_df = pd.DataFrame(df['dp/member'])
pandas_df['label'] = 1
dp_df = pandas_df.copy()

pandas_df = pd.DataFrame(df['dp/notmember'])
pandas_df['label'] = 0
dp_df = dp_df.append(pandas_df)

X = normal_df.iloc[:, :-1]
Y = normal_df.iloc[:, -1]

X.head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,1.876745,4.335744,0.265155,0.633224,1.381845e+00,2.403891,2.892847,2.527487,1.498848,0.453419,...,15.435606,15.407829,15.381145,15.356014,15.332565,15.310707,15.290335,15.271379,15.253721,15.237274
1,4.218401,4.315484,0.000000,0.000000,1.192093e-07,0.000108,0.008031,0.132034,0.967559,3.008271,...,58.450241,58.453636,58.456612,58.459194,58.461418,58.463322,58.464905,58.466213,58.467293,58.468163
2,1.249564,5.451485,8.916632,6.314836,5.112174e+00,6.685579,9.914217,13.690722,17.661039,21.763474,...,116.626091,116.631485,116.636475,116.641098,116.645401,116.649422,116.653183,116.656708,116.660004,116.663116
3,1.994264,5.037328,4.044449,2.447451,1.921205e+00,1.748204,1.850418,2.588501,3.826125,5.859819,...,43.349247,43.345577,43.342064,43.338718,43.335503,43.332428,43.329491,43.326660,43.323944,43.321331
4,0.895158,5.968560,12.255517,14.460139,1.763888e+01,14.142471,10.388700,8.801501,10.345658,12.124948,...,17.685804,17.688307,17.690786,17.693254,17.695700,17.698135,17.700550,17.702965,17.705366,17.707764

In [6]:
len(X)

140

In [13]:
model = svm.SVC()
model.fit(X, Y)

SVC()

In [33]:
model.predict([X.iloc[0], X.iloc[1]])

array([1, 1])

In [35]:
from sklearn import metrics

metrics.accuracy_score(model.predict(X), Y)

0.8071428571428572

In [34]:
dp_df.head()

,0,1,2,3,4,5,6,7,8,9,...,91,92,93,94,95,96,97,98,99,label
0,1.184797,0.453222,1.022357,0.751502,0.650525,0.453037,0.118184,0.011180,0.000712,0.000037,...,25.520004,25.469727,25.419008,25.367817,25.316364,25.264435,25.212200,25.159695,25.106987,1
1,1.511889,0.001292,0.061082,0.326165,0.344585,0.120947,0.015542,0.001077,0.000059,0.000003,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1
2,0.669978,0.322406,0.008909,0.099306,0.547334,0.565731,0.191520,0.015052,0.000686,0.000028,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1
3,0.891836,7.212827,4.323924,3.141358,1.727326,1.040222,0.570916,0.187980,0.038735,0.013951,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1
4,1.070783,1.924868,1.026734,0.343085,0.074974,0.011997,0.001776,0.000391,0.000126,0.000051,...,86.989395,86.978210,86.967987,86.958633,86.950043,86.942169,86.934952,86.928329,86.922226,1

In [36]:
X_privacy = dp_df.iloc[:, :-1]
Y_privacy = dp_df.iloc[:, -1]

In [38]:
private_model = svm.SVC()
private_model.fit(X_privacy, Y_privacy)

SVC()

In [39]:
metrics.accuracy_score(private_model.predict(X_privacy), Y_privacy)

0.7857142857142857